*{
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
	width: 200px;
	height: 120px;
	margin: 50px auto;
	background-color: pink;
}
.topItem,.buttomItem{
	height: 40px;
	width: 60px;
	background-color: skyblue;
	/* animation: change 2s infinite; */
}
.topItem{
	position: absolute;
	top: 0;
}
.buttomItem{
	position: absolute;
	bottom: 0;
}
.topItem,.buttomItem{
	animation: change 2s infinite ease-in-out;
}
.text{
	height: 40px;
	width: 200px;
	line-height: 40px;
	text-align: center;
	position: absolute;
	top: 40px;
	left: 0;
}
@keyframes change{
	0%{left: 0;width: 30px; height: 15px;}
	50%{width: 40px;height: 8px;}
	100%{width: 30px; height: 15px;left: 170px;}
}
